@charset "UTF-8";

/*Tela compu*/

img{
    display: none;
}

ul{
    display: inline-block;
    margin-top: 0px;
    background-color: rgb(179, 179, 179);
    text-align: left;
    
}

li{
    display: inline-block;
    background-color: rgb(48, 48, 48);
    margin: 0px;
    padding: 3px;
    border: 1px solid rgb(48, 48, 48);
    margin-right: 0px;
    width: 70px;
}

div#menu{
    background-color: rgb(179, 179, 179);
    text-align: left;
    margin: 0;
    margin-top: 10px;
}

article{
    min-width: 60vw;
    max-width: 50vw;
}